!!!!
%html
	%head
		%meta{name:'viewport',content:'width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1'}
		%meta{charset:'UTF-8'}
		%meta{name:'description',content:'test task'}
		%meta{name:'keywords',content:'test,task'}
		%link{rel:'stylesheet',href:'css/header-footer.css'}
		%link{rel:'stylesheet',href:'css/main.css'}
		%script{src:'js/css_browser_selector.js'}
		%script{src:'js/jquery-1.11.1.min.js'}
		<!--[if (gte IE 6)&(lte IE 8)]>
		%script{src:'js/html5.js'}
		%script{src:'js/selectivizr-min.js'}
		<![endif]-->
		%title SASS
	%body
		.div
